<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>bd</title>
</head>
<body>
    <h1 align="center">添加学生</h1>
    <form action="/tj/" method="post">
        {% csrf_token %}
        <table border="1" align="center" width="300px">
            <tr>
                <td>姓名</td>
                <td><input type="text" name="name"/></td>
            </tr>
            <tr>
                <td>性别</td>
                <td><input type="text" name="sex"/></td>
            </tr>
            <tr>
                <td>年龄</td>
                <td><input type="text" name="age"/></td>
            </tr>
            <tr>
                <td>籍贯</td>
                <td><input type="text" name="jg"/></td>
            </tr>
            <tr>
                <td><input type="submit"/></td>
                <td><input type="reset" /></td>
            </tr>
        </table>
    </form>

</body>
</html>